Package: gq.sizu.CODMAntiban
Name: COD Anticheat bypass
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Call of Duty Anticheat bypass by Sizar!
Maintainer: Sizar <sizarazad86@mail.ru>
Author: Sizar <sizarazad86@mail.ru>
Section: Game Hacks
Homepage: https://repo.sizu.gq
Version: 1.5
Installed-Size: 8144
