Package: iOSGods.com.CODM
Name: COD Anticheat bypass
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Call of Duty Anticheat bypass by X204 for iOSGods.com!
Maintainer: iOSGods.com
Author: X204
Section: Tweaks
Homepage: https://iosgods.com
Version: 1.5+iOSGods.com
Installed-Size: 8144
