.container {
	position: relative;
	overflow: hidden;
	margin: 0;
	white-space: var(--f7-block-title-white-space);
	text-overflow: ellipsis;
	text-transform: var(--f7-block-title-text-transform);
	color: var(--f7-block-title-text-color);
	font-size: var(--f7-block-title-font-size, inherit);
	font-weight: var(--f7-block-title-font-weight);
	line-height: var(--f7-block-title-line-height);
	margin-top: var(--f7-block-margin-vertical);
	margin-bottom: var(--f7-block-title-margin-bottom);
	margin-left: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-left));
	margin-right: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-right));
}